body {
    margin: 0; /* Убираем отступы на странице */
   }
   .pepper {
    background: red; /* Фон */
    min-height: 100px; /* Минимальная высота */
    font: 60px Impact, sans-serif; /* Параметры шрифта */
    color: #fff; /* Цвет текста */
    white-space: nowrap; /* Запрещаем переносы текста */
    padding-left: 20px; /* Отступ слева */
    position: relative; /* Относительное позиционирование */
   }
   .pepper span {
    position: absolute; /* Абсолютное позиционирование */
    bottom: -13px; /* Сдвигаем текст вниз */
   }